p {
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: black;
}

body {
    background-color: #F0F0F0;
}

.news {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.news_card {
    width: 700px;
    border-radius: 14px;
    background-color: white;
    margin-top: 50px;
    padding: 24px;
}

.news_options {
    display: flex;
    align-items: center;
}

#like_count{
    margin-top: 10px;
}

#title {
    font-size: 28px;
}

#date {
    font-size: 12px;
}

#thumbnail {
    width: 100%;
    height: 300px;
    object-fit: contain;
    display: block;
}

.pagination {
    margin: 20px;
}


.avatar {
    width: 38px;
    height: 38px;
    margin: auto 14px;
    border-radius: 6px;
    overflow: hidden;
    position: center;
}

.stub {
    width: 100%;
    height: 100%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

#avatar_stub {
    color: white;
    font-weight: bold;
    font-size: 16px;
}

#profile_avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}