p {
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: black;
}

body {
    background-color: #F0F0F0;
}

.content {
    margin: 10px 20px;
    border-radius: 12px;
    background-color: white;
    padding: 16px;
}

#title {
    font-size: 32px;
}

#date {
    font-size: 14px;
}

#content_text {
    margin-top: 20px;
    font-size: 18px;
}

#thumbnail {
    width: auto;
    height: 400px;
    object-fit: contain;
    display: block;
    margin: 20px auto;
}

#comment_count {
    font-size: 22px;
}

.comments {
    margin: 35px 20px;
    border-radius: 12px;
    background-color: white;
    padding: 16px;
}

#comment_send{
    margin-top: 16px;
}

.comment_card {
    margin-top: 22px;
    width: auto;
}

.profile {
    border-radius: 21px;
    display: flex;
    align-items: center;
}

.avatar{
    width: 42px;
    height: 42px;
    margin-right: 14px;
    border-radius: 6px;
    overflow: hidden;
    position: center;
}

.stub {
    width: 100%;
    height: 100%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

#avatar_stub{
    color: white;
    font-weight: bold;
    font-size: 18px;
}

#profile_avatar{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#comment_date {
    font-size: 12px;
}


/* Navbar avatar */


.nav_avatar{
    width: 38px;
    height: 38px;
    margin: auto 14px;
    border-radius: 6px;
    overflow: hidden;
    position: center;
}

.nav_stub {
    width: 100%;
    height: 100%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav_avatar_stub{
    color: white;
    font-weight: bold;
    font-size: 16px;
}

#nav_profile_avatar{
    width: 100%;
    height: 100%;
    object-fit: cover;
}